.etchContainer{
    display: grid;
    /*grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;*/

    width: 500px;
    height: 500px;

    border-style: groove;
    border-width: 5px;
}

/*.etchContainer>div:hover{
    background-color: black;
}*/